.register-page {
    background: url('../../public/login_page.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
}

.welcome-message {
    font-family: 'Your Custom Font', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.tagline {
    font-family: 'Your Custom Font', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
}

.ant-form-item-label > label {
    font-weight: bold;
    color: #333;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}
