

.rows{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 45px 35px;
}


.accounts{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.graphs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 10px 0;
}

.card{
    padding: 20px 20px 0;
}

.card-header{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    background: #6593a0;
    border: none;
}

.graphTitle{
    text-align: center;
    color: #6593a0;
    padding: 30px 0px 0px;
    font-weight: 1000;
}

.text-success{
    font-size: 18px;
    color: #579c55;
    font-weight: 500;
}
.text-danger{
    font-size: 18px;
    color: #cf3c32;
    font-weight: 500;
}